<%- include('../partials/page_top.ejs') %> <%-
include('../partials/page_header.ejs') %>

<main id="main" data-aos="fade" data-aos-delay="1500">

<div class="apanel">
        <!-- ======= End Page Header ======= -->
        <div class="page-header d-flex align-items-center">
          <div class="container position-relative">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 text-center">
                <h2>Add Category </h2>
    
              </div>
            </div>
          </div>
        </div><!-- End Page Header -->
    
        <section>
          <div class="container w-50" data-aos="fade-up">
            <% if( error) { %>
              <div class="text-error p-3"><%= error %></div>
            <% } %>
            <%- include("./partials/category_form.ejs") %>
          </div>
        </section>
</div>

</main>
<!-- End #main -->



<%- include('../partials/page_footer.ejs') %> <%-
include('../partials/page_bottom.ejs') %>
