<%- include('../partials/page_top.ejs') %> <%-
include('../partials/page_header.ejs') %>

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Tags (<a href="/admin/tags/add" title="Add a new tag">Add</a>)</h2>
          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

      <!-- ======= Tags Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row gy-4 justify-content-center">
        <div class="col">
          <div id="wrapper"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Tags Section -->

  </main><!-- End #main -->

  <script>
    const data = JSON.parse(`<%- tags %>`);
    new gridjs.Grid({
      columns: [
        "Tag",
        {
          name: "Photos",
          formatter: (cell) =>
            gridjs.html(`<a href="/admin/photos?tag=${cell}">Photos</a>`),
        },
        {
          name: "Edit",
          formatter: (cell) =>
            gridjs.html(`<a href="/admin/tags/edit/${cell}">Edit</a>`),
        },
        {
          name: "Delete",
          formatter: (cell) =>
            gridjs.html(
              `<a href="/admin/tags/${cell}?_method=DELETE" onClick="return confirm('Are you sure?')">Delete</a>`
            ),
        },
      ],
      data: data,
    }).render(document.getElementById("wrapper"));
  </script>
  
  <%- include('../partials/page_footer.ejs') %> <%-
  include('../partials/page_bottom.ejs') %>