<%- include('./partials/page_top.ejs') %> <%-
include('./partials/page_header.ejs') %>

<main id="main" class="mt-3" data-yok="yok">
  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container">
      <div class="row gy-4 justify-content-center">
        <% photos && photos.forEach(photo => { %>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">

            <a href="/upload/<%= photo.file %>" data-title="<%= photo.title %>" data-toggle="lightbox" data-gallery="gallery" class="col-sm-4">
              <img src="/upload/<%= photo.file %>" class="img-fluid w-100">
            </a>
          </div>
        </div>
        <!-- End Gallery Item -->
        <% }) %>
      </div>
    </div>
  </section>
  <!-- End Gallery Section -->
</main>
<!-- End #main -->

<%- include('./partials/page_footer.ejs') %> <%-
include('./partials/page_bottom.ejs') %>
